.Welcome {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
}
.Welcome h1 {
  font-size: 32px;
}

.Review h1 {
  font-size: 32px;
}

section.header {
  background-image: url("../images/information.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 12rem;
}

.figure-img {
  max-width: 200px;
}

section.contact_header {
  background-image: url("../images/contact.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 12rem;
}

section.review_header {
  /* background-image: url("../images/contact.jpg");
  background-size: cover;
  background-position: center; */
  color: white;
  height: 12rem;
}

section.feature-header {
  color: white;
  height: 12rem;
}

section.pitchtype_header {
  color: white;
  height: 12rem;
}

section.local_header {
  background-image: url("../images/ali-kazal-Vp5tsFIEwyQ-unsplash.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 30rem;
  padding-top: 10rem;
}

section.local_header h1,
p {
  padding: 5px;
}

section.local_header a.btn {
  border: 2px solid;
  padding: 10px 25px;
  font-weight: bold;
}

section.welcome2 {
  background-image: url("../images/attraction1.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 30rem;
  padding-top: 10rem;
}

.card-img-overlay {
  top: 250px !important;
  left: 50px !important;
  font-size: 60px;
}
